#container, #container2, #container3{
    width: 100%;
    margin: 10px 0px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-around;
    gap: 6px;
}


.box{
    background-color: aqua;
    width: 33%;
    text-align: center;
}

.alertBox{
    /* background-color: green; */
    color: white;
    padding: 1px;
    text-align: center;
}

.active{
    background-color: green;
}